@font-face {
  font-family: "typo-round";
  src: local("typo-round"),
    url(./font/Typo_Round_Bold_Demo.otf) format("truetype");
}

body {
  background-color: black;
}

body::before {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("./images/pattern.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: -1; /* added */
}

@media only screen and (max-width: 612px) {
  body::before {
    background-size: auto;
  }
}
