.Body {
  color: white;
}

.Bodytext {
  display: block;
  width: 50%;
  margin: 20px;
  margin-left: 18%;
  text-align: left;
}

.Bodytext h2 {
  font-size: 4rem;
  margin: 0;
  margin-bottom: 10px;
}
.Bodytext p {
  font-size: 1rem;
  line-height: 25px;
}

button {
  color: black;
}

@media only screen and (max-width: 663px) {
  .Bodytext {
    width: 80%;
    margin: 1rem auto;
  }
  .hand {
    width: 90%;
  }
}
