.Body {
  color: white;
}

.hand {
  width: 70%;
  margin: 100px auto;
}
.Bodytext {
  display: inline-block;
  width: 40%;
  text-align: left;
}

.Bodytext h2 {
  font-size: 4rem;
  margin: 0;
  margin-bottom: 10px;
}
.Bodytext p {
  font-size: 1.4rem;
  line-height: 25px;
}

button {
  color: black;
}

@media only screen and (max-width: 663px) {
  .Bodytext {
    width: 80%;
  }
  .hand {
    width: 90%;
  }
}
