/* @import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"); */

.header {
  height: 55vh;
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.mainHeading {
  color: white;
  font-family: typo-round;
  margin: 0;
  font-size: 8rem;
}

.subHeading {
  color: white;
  font-style: italic;
  font-size: 2rem;
  margin: 1rem 0;
  margin-top: 2rem;
  font-weight: bolder;
  background: #a62b89;
  background: linear-gradient(to right, #a62b89 0%, #1da0cf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.callToAction {
  position: relative;
}

.headerPara {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 10px;
  transform: translate(-50%, 0);
  color: #e5e4e2;
}

@media only screen and (max-width: 612px) {
  .mainHeading {
    font-size: 7rem;
  }
  .subHeading {
    font-size: 1.5rem;
  }
  .headerPara {
    width: 100%;
    font-size: 0.8rem;
  }
}
