@font-face {
  font-family: "typo-round";
  src: local("typo-round"),
    url(./font/Typo_Round_Bold_Demo.otf) format("truetype");
}

body {
  background-color: black;
  background-image: url("./images/pattern.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
}

@media only screen and (max-width: 612px) {
  body {
    background-size: auto;
  }
}
