@font-face {
  font-family: "typo-round";
  src: local("typo-round"),
    url(./font/Typo_Round_Bold_Demo.otf) format("truetype");
}

body {
  height: 440px;
  background-size: 100% 40%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("./images/Visiwig-Subtle-Waves__1_.svg");
}
